@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Rubik:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../images/6775346-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Mono', monospace;
}
.content{
  width: 70%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.form-box{
  width: 35%;
  padding: 20px 30px; 
  background-color: rgba(255, 255, 255, 0.849);
  height: 620px;
  border-radius: 20px;
}
.contact-box{
  width: 55%;
  padding: 20px 30px; 
  background-color: rgba(255, 255, 255, 0.849);
  height: 620px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
}
.contact-form{
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #b9b2ee;
  background-color: transparent;
  outline: none;
}
.contact-list{
  list-style: none;
  padding: 20px 6px;
}
.contact-item{
  display: flex;
  justify-content: space-between;
}
.contact-item div{
  display: flex;
  align-items: center;
}
.title{
  font-size: 32px;
  margin-bottom: 30px;
}
.contact-select{
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  border: none;
  border-bottom: 2px solid #b9b2ee;
  background-color: transparent;
  color: #666;
  outline: none;
}
.contact-btn{
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #b9b2ee;
  border: none;
  color: #fff;
  transition: all 0.4s ease;
  border: 3px solid transparent;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}
.contact-btn:hover{
 opacity: 0.6;
}
.first-name{
  margin-right: 10px;
  margin-bottom: 0;
}
.last-name{
  margin-bottom: 0;
}
.category{
  margin-right: 10px;
  margin-bottom: 0;
  font-weight: bold;
}
.contact-item{
  margin-bottom: 16px;
}
.nav-link.active{
  background-color: #b9b2ee !important;
  color: #fff !important;
}
.nav-link{
  color: #000 !important;
}
.contact-header{
  display: flex;
  justify-content: space-between;
}
.sorting{
  height: 35px;
  background-color: #b9b2ee;
  border: none;
  color: #fff;
  outline: none;
  padding: 6px 12px;
  border-radius: 5px;
}
.bxs-phone-call{
  color: rgb(3, 189, 3);
  font-size: 20px;
  position: relative;
  bottom: -3px;
  margin-right: 16px;
}
.delete-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}

@media screen and (max-width:976px) {
  .content{
    flex-direction: column;
    width: 90%;
  }
  .contact-box{
    width: 100%;
  }
  .form-box{
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-form{
    width: 100%;
  }
}
.btn{
  background-color: #b9b2ed !important;
  border-color: #7765ff !important;
}
